<div class="">
  <h3>Edit exisisting Trip</h3>

<div class="form">
    <%= form_for(@trip) do |t| %>
      <div class="form-group">
        <%= t.label :destination %>
        <%= t.text_field :destination, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= t.label :details %>
        <%= t.text_area :details, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :number_of_people %>
        <%= t.text_field :number_of_people, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :price %>
        <%= t.text_field :price, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :user_id %>
        <%= t.text_field :user_id, class: 'form-control' %>
      </div>

       <div class="photo-group">
        <%= t.label :photo %>
        <%= t.file_field :photo, id: 'photo' %>
      </div>

      <div class="form-button">
      <%= t.submit class: "btn btn-outline-dark m-3 p-2" %>
      </div>
      <%end%>
  </div>
</div>
