<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

    <button class="navbar-toggler" type="button" raildata-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>

    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Back to home page', root_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Create Trip', new_trip_path %>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Bookings', bookings_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log in', new_user_session_path %>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </div>

  </div>
</nav>

<div class="p-2 text-center bookings_background" >
<h1 class="">All Trips</h1>
    <div class="col" id="">
      <%= form_tag trips_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Location"%>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
</div>

<div class="map_align">
  <div class="background_all_trips">

      <div class="cards">
        <% @trips.each do |trip|%>
          <% if trip.photo.attached? %>
            <div class=" card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path trip.photo.key, height: 300, crop: :fill %>')">
          <% else %>
            <h4>"No pictures"</h4>
          <% end %>
            <div class="card_funitions">
                <button class="anti_link btn" id="best_buttons_two" data-mdb-ripple-color="dark" id="destination"><%=link_to trip.destination, trip_path(trip)%></button>
              <div class="delet_and_edit">
                <button class="anti_link btn" id="info delete_edit" ><%= link_to 'Delete here', trip_path(trip),
                  method: :delete,
                  data: { confirm: "Are you sure?" }%></button>
                <button class="anti_link btn" id="info delete_edit" ><%= link_to 'Edit here', edit_trip_path(trip),
                  method: :get,
                  data: { confirm: "Are you sure?" }%></button>
              </div>
            </div>
          </div>
        <% end %>

      </div>
  </div>

  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div>
  <!-- Footer -->
  <footer class="page-footer font-small grey">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Very long link 1</a>
          </li>
          <li>
            <a href="#!">Very long link 2</a>
          </li>
          <li>
            <a href="#!">Very long link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Community</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Host</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->

  </footer>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://LeConciergeINC.com">LeConciergeINC.com</a>
    </div>
  <!-- Footer -->
  </body>
</div>
