<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
      <div class="anti_link">
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%=link_to 'Bookings', bookings_path%></button>
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%=link_to 'Add Trip', new_trip_path%></button>
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log in', new_user_session_path %></button>
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
      </div>
  </div>
</nav>


<div class="background_all_trips">
  <div class="content">
    <div class="p-2" >
      <h1 class="all_trips">All Trips</h1>
      <p class="all_trips" id="all_trips_two">Browse through the library</p>
      <div class="cards">
        <% @trips.each do |trip|%>

          <% if trip.photo.attached? %>
            <%# <li><%= cl_image_tag trip.photo.key, height: 167, width: 300, crop: :fill %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path trip.photo.key, height: 300, crop: :fill %>')">
              <% else %>
                <h4>"No pictures"</h4>
              <% end %>
              <div class="anti_link">
              <p id="destination"><%=link_to trip.destination, trip_path(trip)%></p>
              <br>
              <div id="info"><%= link_to 'Delete here', trip_path(trip),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
              <div class="info"><%= link_to 'Edit here', edit_trip_path(trip),
              method: :get,
              data: { confirm: "Are you sure?" } %>
              </div>
              </div>
              </div>
            <%# <p>____________</p> %>
            </li>
        </div>
        <% end %>

      </div>


    </div>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
