<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LeVoyage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
      <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log in', new_user_session_path %></button>
      <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
  </div>
</nav>
<div class="m-2 p-2">
  <h3>Create new Trip</h3>

  <div class="form">
    <%= form_for(@trip) do |t| %>
      <div class="form-group">
        <%= t.label :destination %>
        <%= t.text_field :destination, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= t.label :details %>
        <%= t.text_area :details, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :number_of_people %>
        <%= t.text_field :number_of_people, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :price %>
        <%= t.text_field :price, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :user_id %>
        <%= t.text_field :user_id, class: 'form-control' %>
      </div>

      <div class="photo-group">
        <%= t.label :photo %>
        <%= t.file_field :photo, id: 'photo' %>
      </div>
      <div class="form-button">
      <%= t.submit class: "btn btn-outline-dark m-3 p-2" %>
      </div>
    <%end%>
  </div>
</div>
