<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

  <button class="navbar-toggler" type="button" raildata-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Bookings', bookings_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log in', new_user_session_path %>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>

<div class="m-2 p-2">
  <h3>Create new Trip</h3>

  <div class="form">
    <%= form_for(@trip) do |t| %>
      <div class="form-group">
        <%= t.label :destination %>
        <%= t.text_field :destination, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= t.label :details %>
        <%= t.text_area :details, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :number_of_people %>
        <%= t.text_field :number_of_people, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= t.label :price %>
        <%= t.text_field :price, class: 'form-control' %>
      </div>

      <div class="photo-group">
        <%= t.label :photo %>
        <%= t.file_field :photo, id: 'photo' %>
      </div>
      <div class="form-button">
      <%= t.submit class: "btn btn-outline-dark m-3 p-2" %>
      </div>
    <%end%>
  </div>
</div>
