<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
      <div class="anti_link">
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log in', new_user_session_path %></button>
        <button type="button" class="btn btn-outline-dark m-3 p-2" data-mdb-ripple-color="dark" type="submit"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button>
      </div>
  </div>
</nav>

<div class="detailed">
  <div>
    <ul>
      <% if @trip.photo.attached? %>
        <li><%= cl_image_tag @trip.photo.key , height: 167, width: 300, crop: :fill %>
      <% else %>
        <h4>"No pictures"</h4>
      <% end %>
    <li><h3><%=@trip.destination%></h3></li>
    <button type="button" class="btn btn-outline-primary"><%=link_to 'Book Trip', new_booking_path(@booking)%></button>
  </div>

  <li><p><%=@trip.details%></p></li>
  <li><p><%=@trip.number_of_people%></p></li>
  <li><p><%=@trip.price%></p></li>
  </ul>

  <%=link_to 'Back to home page', root_path%>
  <br>
  <%=link_to 'Back to List page', trips_path%>
</div>
