<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

  <button class="navbar-toggler" type="button" raildata-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Back to home page', root_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Back to List page', trips_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Bookings', bookings_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log in', new_user_session_path %>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </div>


  </div>
</nav>


<p id="notice"><%= notice %></p>

<%# LOUIS: %>
<div class="anti_link bookings_background" >
  <h1>My bookings</h1>


  <%# <button type="button" class="button"><%=link_to 'See other available Trips', trips_path%>
</div>
  <ol class="anti_link m-4">
  <% @bookings.each do |booking|%>
    <li><%= link_to booking.trip.destination, booking_path(booking) %>
    <br>
    <%=link_to booking.date, booking_path(booking)%>
    <br>
    <%= link_to 'Delete here', booking_path(booking),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <p>____</p>
    </li>
  <% end %>
  </ol>
