<h1>New Booking</h1>

<%= render 'form', booking: @booking %>

<%= link_to 'Back', bookings_path %>

<h1>Book Trip to: <%=@trip.destination%></h1>

<%= simple_form_for [ @trip, @booking ] do |booking| %>
  <%= booking.association :trip %>
  <%= booking.input :date %>
  <%= booking.submit "Book this trip" %>
<% end %>
