<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>


<%# LOUIS: %>
<div class="">
  <div>
    <h1><%=@trip.destination%> </h1>
    <button type="button" class="btn btn-outline-primary"><%=link_to 'Book Trip', new_path(@booking)%></button>
  </div>
  <p><%=@trip.details%></p>
  <p><%=@trip.number_of_people%></p>
  <p><%=@trip.price%></p>
  <%=link_to 'Back to home page', home_path%>
</div>
