<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <%# <a class="navbar-brand" href="#">LeVoyage</a> %>
  <div class="navbar-brand anti_link">
    <%= link_to 'LeVoyage', root_path %>
  </div>

  <button class="navbar-toggler" type="button" raildata-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Become a host <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Popular Destinations</a>
      </li>
    </ul>
    <div class="nav-item grey anti_link m-3">
      <%=link_to "Don't know where to go? Find inspiration here!", trips_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%=link_to 'Bookings', bookings_path%>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log in', new_user_session_path %>
    </div>

    <div class="nav-item grey anti_link m-3">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </div>


  </div>
</nav>

<div class="below-navbar">
<div class="subheader">
  <h1>Welcome to LeVoyage</h1>
  <h2>Your dream vacation is one click away</h2>
  <h2>
    <button type="button" id="best_buttons_two"class="anti_link btn" data-mdb-ripple-color="dark" id="destination"><%=link_to 'Search', trips_path%></button>
  </h2>


</div>

<div class="below-form">
  <h2 id="extreme_shadow">Bon Voyage!</h2>
</div>
</div>





<!-- Footer -->
<footer class="page-footer font-small grey">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Very long link 1</a>
          </li>
          <li>
            <a href="#!">Very long link 2</a>
          </li>
          <li>
            <a href="#!">Very long link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Community</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Host</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://LeConciergeINC.com">LeConciergeINC.com</a>
  </div>
<!-- Footer -->
</body>
